footer {
  h5 {
    margin: 55px 0px 35px 0px;
  }
  .container-tester {
    background-color: $Marron-Clair;
    .tester-container {
      margin: 0 auto;
      padding: 2% 0;
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .identity {
    background-color: $Marron;
    margin: 0;
  }
}
