header {
  nav {
    background-color: $Marron;
    padding: 15px;
  }
  .nav-component {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    .container-img {
      width: 13.5%;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 65%;
      cursor: pointer;
    }
    ul li {
      color: $blanc;
      font-family: $fontJulius;
      font-size: 1.1rem;
    }
    .button-container {
      display: flex;
      justify-content: right;
      width: 20.5%;
    }
  }
  .Poster {
    background: url(../images/affiche.png) center/cover;
    height: 703px;
    width: 100%;
    color: $blanc;
    font-family: $fontJudson;
    .Poster-container {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.295);
      width: 100%;
      top: 55%;
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 1fr;
      align-items: center;
      .content1 {
        padding-left: 27.5%;
        h1 {
          font-size: 3.2rem;
          font-weight: 100;
        }
        p {
          font-size: 1.8rem;
        }
      }
      .content2 {
        display: flex;
        justify-content: left;
        .button {
          display: block;
        }
      }
    }
  }
  @media (max-width: 1288px) {
    .nav-component {
      width: 95%;
    }
    .container-img img {
      height: 100px;
      width: 100px;
    }
    ul {
      padding: 0;
    }
    nav .button {
      width: 115px;
      min-width: 115px;
    }
    h1 {
      font-size: 2rem !important;
    }
    .Poster {
    }
  }
}
