header {
  nav {
    background-color: $Marron;
    padding: 15px;
    .button {
      @media (max-width: 1428px) {
        width: 130px;
      }
    }
  }
  .nav-component {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 70%;

    .container-img {
      width: 13.5%;
    }
    .container-img img {
      height: 100px;
      width: 100px;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 65%;
      cursor: pointer;
    }
    ul li {
      color: $blanc;
      font-family: $fontJulius;
      font-size: 1.1rem;
    }
    .button-container {
      display: flex;
      justify-content: right;
      width: 20.5%;
    }
  }
  .Poster {
    background: url(../images/affiche.png) center/cover;
    height: 703px;
    width: 100%;
    color: $blanc;
    font-family: $fontJudson;
    .Poster-container {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.295);
      width: 100%;
      top: 55%;
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 1fr;
      align-items: center;

      @media (max-width: 1428px) {
        padding: 3% 3px;
      }
      @media (max-width: 780px) {
        display: block;
        text-align: center;
        top: 50%;
        padding: 20px 0 40px 0;
      }
      .content1 {
        padding-left: 27.5%;

        @media (max-width: 1200px) {
          padding-left: 20%;
        }
        @media (max-width: 960px) {
          padding-left: 15%;
        }
        @media (max-width: 780px) {
          padding-left: 0%;
        }
        h1 {
          font-size: 2.7rem;
          font-weight: 100;
          @media (max-width: 1428px) {
            font-size: 2.4rem;
          }
          @media (max-width: 960px) {
            font-size: 2.1rem;
          }
        }
        p {
          font-size: 1.8rem;
          padding: 5px 0 10px 0;
          @media (max-width: 1428px) {
            font-size: 1.4rem;
          }
        }
      }
      .content2 {
        display: flex;
        justify-content: left;
        @media (max-width: 960px) {
          justify-content: center;
        }
        .button {
          display: block;
          width: 180px;
          @media (max-width: 1428px) {
            width: 150px !important;
          }
        }
      }
    }
  }

  @media (max-width: 1288px) {
    .nav-component {
      width: 95%;
    }
    .container-img img {
      height: 100px;
      width: 100px;
    }
    ul {
      padding: 0;
    }
    nav .button {
      width: 115px;
      min-width: 115px;
    }
  }
}
