main {
  h2 {
    margin: 30px 0px 40px 0px;
  }

  .main-container1 {
    background: $Marron-Clair;
    .company {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin: 0 auto;
      padding: 2% 0;
      gap: 20px;

      @media (max-width: 1350px) {
        width: 90%;
      }
      @media (max-width: 700px) {
        display: block;
        padding: 6% 0 2% 0;
        width: 70%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
      .company-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        @media (max-width: 700px) {
          margin: 0 auto;
          gap: 5px;
          width: 90%;
        }
        img {
          width: 100%;
          height: 100%;
        }
        .CompanyName {
          font-family: $fontJudson;
          font-size: 1.7rem;
          margin-top: 15px;
          color: $CouleurTitre;
          @media (max-width: 1200px) {
            font-size: 1.6rem;
          }
          @media (max-width: 1000px) {
            font-size: 1.2rem;
          }
          @media (max-width: 700px) {
            margin-bottom: 25px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .main-container2 {
    .Card {
      background: url(../images/maps2.png) center/contain;
      height: 299px;
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1350px) {
        background-size: 100% 100%;
      }
      @media (max-width: 1000px) {
        height: 200px;
      }
    }
  }
  .main-container3 {
    background-color: $Marron-Clair;
    padding: 2% 0;

    .products {
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      @media (max-width: 1800px) {
        max-width: 1300px;
        width: auto;
      }

      .products-container {
        background-color: $blanc;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        border-radius: 10px;
        width: 380px;
        padding: 25px 15px;

        p {
          color: $CouleurTitre;
          font-size: 1.3rem;
          margin-left: 15%;
          margin-right: 15%;
        }
      }
    }
  }
  /*   main .main-container1 .company {
    width: 95%;
  } */
}
