main {
  h2 {
    margin: 30px 0px 40px 0px;
  }
  .main-container1 {
    background: $Marron-Clair;
    .company {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin: 0 auto;
      padding: 2% 0;
      gap: 15px;
      .company-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        img {
          width: 100%;
          height: 100%;
        }
        .CompanyName {
          font-family: $fontJudson;
          font-size: 1.7rem;
          margin-top: 15px;
          color: $CouleurTitre;
        }
      }
    }
  }
  .main-container2 {
    .Card {
      background: url(../images/maps2.png) center/contain;
      height: 329px;
      max-width: 1425px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .main-container3 {
    background-color: $Marron-Clair;
    padding: 2% 0;
    .products {
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .products-container {
        background-color: $blanc;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        width: 380px;
        padding: 25px 15px;

        p {
          color: $CouleurTitre;
          font-size: 1.3rem;
          margin-left: 15%;
          margin-right: 15%;
        }
      }
    }
  }
  /*   main .main-container1 .company {
    width: 95%;
  } */
}
