@font-face {
  font-family: "fontJulius";
  src: url("../fonts/JuliusSansOne-Regular.ttf");
}
@font-face {
  font-family: "fontJudson";
  src: url("../fonts/Judson-Regular.ttf");
}

$fontJudson: judson, sans-serif;
$fontJulius: fontJulius, sans-serif;

$blanc: #ffffff;
$orange: #ffa600;
$Marron: #675b4d;
$Marron-Clair: #b16e1b;
$CouleurTitre: #844f00;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  color: $CouleurTitre;
  font-family: $fontJudson;
  font-size: 2rem;
}
.button {
  font-family: $fontJudson;
  background: $orange;
  color: $blanc;
  text-align: center;
  padding: 2%;
}
