@font-face {
  font-family: "fontJulius";
  src: url("../fonts/JuliusSansOne-Regular.ttf");
}
@font-face {
  font-family: "fontJudson";
  src: url("../fonts/Judson-Regular.ttf");
}

$fontJudson: judson, sans-serif;
$fontJulius: fontJulius, sans-serif;

$blanc: #ffffff;
$orange: #ffa600;
$Marron: #675b4d;
$Marron-Clair: #b16e1b;
$CouleurTitre: #844f00;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.title {
  color: $CouleurTitre;
  font-family: $fontJudson;
  font-size: 2rem;
}
.button {
  font-family: $fontJudson;
  background: $orange;
  color: $blanc;
  font-size: 1.1rem;
  text-align: center;
  padding: 14px;
  width: 150px;
  border-radius: 20px;
}
.Affiche {
  background: url(../images/affiche.png) center/cover;
  height: 700px;
  width: 100%;
}
