@font-face {
  font-family: "fontJulius";
  src: url("../fonts/JuliusSansOne-Regular.ttf");
}
@font-face {
  font-family: "fontJudson";
  src: url("../fonts/Judson-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.title {
  color: #844f14;
  font-family: judson, sans-serif;
  font-size: 2.6rem;
  margin-left: 20%;
  font-weight: 100;
}

.button {
  font-family: judson, sans-serif;
  background: #ffa600;
  color: #ffffff;
  font-size: 1.1rem;
  text-align: center;
  padding: 14px;
  width: 150px;
  border-radius: 30px;
  cursor: pointer;
}

header nav {
  background-color: #675b4d;
  padding: 15px;
}
header .nav-component {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}
header .nav-component .container-img {
  width: 13.5%;
}
header .nav-component ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  cursor: pointer;
}
header .nav-component ul li {
  color: #ffffff;
  font-family: fontJulius, sans-serif;
  font-size: 1.1rem;
}
header .nav-component .button-container {
  display: flex;
  justify-content: right;
  width: 20.5%;
}
header .Poster {
  background: url(../images/affiche.png) center/cover;
  height: 703px;
  width: 100%;
  color: #ffffff;
  font-family: judson, sans-serif;
}
header .Poster .Poster-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.295);
  width: 100%;
  top: 55%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  align-items: center;
}
header .Poster .Poster-container .content1 {
  padding-left: 27.5%;
}
header .Poster .Poster-container .content1 h1 {
  font-size: 3.2rem;
  font-weight: 100;
}
header .Poster .Poster-container .content1 p {
  font-size: 1.8rem;
}
header .Poster .Poster-container .content2 {
  display: flex;
  justify-content: left;
}
header .Poster .Poster-container .content2 .button {
  display: block;
}
@media (max-width: 1288px) {
  header .nav-component {
    width: 95%;
  }
  header .container-img img {
    height: 100px;
    width: 100px;
  }
  header ul {
    padding: 0;
  }
  header nav .button {
    width: 115px;
    min-width: 115px;
  }
  header h1 {
    font-size: 2rem !important;
  }
}

main {
  /*   main .main-container1 .company {
    width: 95%;
  } */
}
main h2 {
  margin: 30px 0px 40px 0px;
}
main .main-container1 {
  background: #e1c7a7;
}
main .main-container1 .company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 2% 0;
  gap: 15px;
}
main .main-container1 .company .company-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .main-container1 .company .company-container img {
  width: 100%;
  height: 100%;
}
main .main-container1 .company .company-container .CompanyName {
  font-family: judson, sans-serif;
  font-size: 1.7rem;
  margin-top: 15px;
  color: #844f14;
}
main .main-container2 .Card {
  background: url(../images/maps2.png) center/contain;
  height: 329px;
  max-width: 1425px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-container3 {
  background-color: #e1c7a7;
  padding: 2% 0;
}
main .main-container3 .products {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-container3 .products .products-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 380px;
  padding: 25px 15px;
}
main .main-container3 .products .products-container p {
  color: #844f14;
  font-size: 1.3rem;
  margin-left: 15%;
  margin-right: 15%;
}

footer h5 {
  margin: 55px 0px 35px 0px;
}
footer .container-tester {
  background-color: #e1c7a7;
}
footer .container-tester .tester-container {
  margin: 0 auto;
  padding: 2% 0;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .identity {
  background-color: #675b4d;
  margin: 0;
}/*# sourceMappingURL=index.css.map */